body{
    display:flex;
    flex-direction:column;
}

.picture{
    background-image:url(./lexi-laginess-TTUvyE7MwkM-unsplash.jpg);
    
   width:100vw;
   height:15vh;
   
   background-size:100vw;
   background-position-y:30%;
   position:relative;
}

.logo-background{
    position:absolute;
    width:100vw;
    height:13vh;
    background-color:black;
    opacity:80%;
    top:1vh;
    bottom:1vh;
    display:flex;
    justify-content: center;
    
    align-items: center;

}

.text{
    align-items: center;
    vertical-align: center;
    color:white;
    font-weight:800;
    font-size:70px;
    
    font-family:OCR A Std, monospace;

    
}

.logo{
    min-width:100px;
    height:11vh;
}

html,
body{
     width: 100%;
     height: 100%;
    
     margin: 0;
    
}

.one{ 
    flex-wrap:wrap;
    padding:10px 13px 0px 13px;
    
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.two{

    box-sizing:border-box;
    
    padding:10px 10px 7px 13px;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgb(167, 164, 164);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.two input[type='text'],
.two input[type='email'],
.two input[type='tel']{
    background-color: #FFFFFF;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width:95%;
    padding:7px;
    font-size:12px;
    margin-bottom: 10px;
   
}

.two label{
    font-size:larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.three{
    margin-top:10px;
    padding:13px;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    font-size:16px;
    font-weight:bold;
    color:white;
    background-color: rgb(152, 173, 102);
    border:none;
    border-radius: 3px;
    padding:10px 40px;
    cursor:pointer;
}

.btn:hover{
    background-color: rgb(131, 146, 97);
}

a{
    text-decoration: none;
}






@media only screen and (min-width:600px){
    .picture{
       
        background-size:cover;
        background-image:url(./lexi-laginess-TTUvyE7MwkM-unsplash.jpg);
        background-position:center;
        height:100vh;
        width:40vw;
        position:relative;
    }

    .logo-background{
        position:absolute;
        width:40vw;
        height:13vh;
        background-color:black;
        opacity:70%;
        top:20vh;
        display:flex;
        justify-content: center;
        align-items: center;
        
    
    }
    .text{
        align-items: center;
        vertical-align: center;
        color:white;
        font:bold;
        font-size:35px;
        font-size:60px;
        font-family:OCR A Std, monospace;
    }
    
    html,
    body{
       
       display:flex;
       flex-direction:row;
       
       
    }

    .content-side{
        
        max-width:100%;
        min-width:550px;
        
        
    }


    .one{
        text-align: start;
        display:flex;
        flex-wrap:wrap;
    }

    .two{
        height:500px;
        
    }

    
   
    .name,
    .contacts,
    .passwords{
    display:flex;
    flex-direction:row;
    
    margin-bottom: 70px;
    margin-top:30px;
    
    }

    .two input[type='text'],
    .two input[type='email'],
    .two input[type='tel']{
        
        margin:0;
        width:100%;
    }

    .number,
    .pwd2,
    .last-name{
        margin-left:40px;
    }
   
    .first-name,
    .last-name,
    .email,
    .number,
    .pwd1,
    .pwd2{
        display:flex;
        flex-direction:column;
    }
}
