.picture{
    height:100vh;
    width:auto;
    margin:0;
    padding:0;
    border:none;
    outline:none;
    
}

html,
body{
   width: 100%;
   height: 100%;
   overflow: hidden;
   margin: 0;
}
    


.cover{
    display:flex;
    margin:0;
    padding:0;
    height:100vh;
    border:none;
}
